
<app-adslider></app-adslider>


<app-products-row></app-products-row>



<div class="row p-0 m-0">

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card">
                    <img src="../../../assets/imgs-ad/store1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    </div>
                    <div class="card">
                    <img src="../../../assets/imgs-ad/slider2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    </div>
                    <div class="card">
                    <img src="../../../assets/imgs-ad/slider3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imgs-ad/slider4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../assets/imgs-ad/slider1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
          <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

      <!-- ------------------------------------------------------------------------------------- -->
    <!-- <section class="pt-5 pb-5">
        <div class="container-">
          <div class="row">
              <div class="col-6">
                  <h3 class="mb-3">Carousel cards title </h3>
              </div>
              <div class="col-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1 rounded-circle" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3  rounded-circle " href="#carouselExampleIndicators2" role="button" data-slide="next">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>
              <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
      
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row">
                                    <div class="card-group">
                                        <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                        </div>
                                        <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                        </div>
                                        <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                            <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                            <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
      
                                <div class="card-group">
                                    <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                    </div>
                                    <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                    </div>
                                    <div class="card">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                    </div>
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        </div>
                                        <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        </div>
                                        <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
      
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
                                
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section> -->
    <!-- ------------------------------------------------------------------------------------- -->
</div>


<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Our Catalogue</h1>
        <div class="row ">
            <iframe style="width:250px;height:400px" class="col-sm-4" src="https://online.anyflip.com/jgqmt/rmyq/index.html" seamless="seamless" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Brands we distribute</h1>
        <div class="row ">
            <div class="card-group col ">
                <div class="card  ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <img src="../../../assets/brands/107.webp" alt="" class="af_c_brand_img_sq">
                  </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/Q1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/P1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/1e.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/171.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                
            </div>
        </div>
        <div class="row ">
            <div class="card-group col ">
                <div class="card  ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <img src="../../../assets/brands/107.webp" alt="" class="af_c_brand_img_sq">
                  </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/Q1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/P1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/1e.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/171.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Quick links</h1>
        <div class="row ">
            
            <div class="card-group col ">
                <div class="card p-2 ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none " >Wireless Earphone</a> </h3>
                  </div>
                </div>
                <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Power Bank</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Speaker</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Charger & Date Cable</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Creative Lifestyle</a> </h3>
                    </div>
                  </div>
                
              </div>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col-sm-12 col-md-12 col-6-lg col-xl-6 p-5">
        <img src="../../../assets/imgs-ad/store1.webp" alt="" style="width: 100%; height:100%;">
    </div>
    <div class="col-sm-12 col-md-12 col-6-lg col-xl-6 ">
        <div class="row p-3 ">
            <div class="col pt-5">
                <h2 class="row font-weight-bold my-4">REMAX OFFICIAL STORE</h2>
                <div class="row text-muted h6 my-4 pl-3">
                    <p>The Official Website of REMAX Assuit developed </p>
                    <p>(Authorized Sole Distributor of REMAX Mobile Phone Accessories in Assuit)</p>
                </div>
                <div class="row my-4  pl-3">
                    <a href="#" class="btn btn-lg text-white h af_remax_btn" >Our Products</a> 
                </div>
            </div>
        </div>
    </div>
</div>



