
<app-adslider></app-adslider>


<app-products-row
*ngIf="categories?.length"
[category]= "categories[0]"
[brand]= "undefined" >
</app-products-row>


<app-products-row
*ngFor="let row of getBrands()"
[category]= "undefined"
[brand]= "row" >
</app-products-row>


<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Our Catalogue</h1>
        <div class="row ">
            <iframe style="width:250px;height:400px" class="col-sm-4" src="https://online.anyflip.com/jgqmt/rmyq/index.html" seamless="seamless" scrolling="no" allowtransparency="true" allowfullscreen="true" frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Brands we distribute</h1>
        <div class="row ">
            <div class="card-group col ">
                <div class="card  ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <img src="../../../assets/brands/107.webp" alt="" class="af_c_brand_img_sq">
                  </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/Q1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/P1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/1e.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/171.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                
            </div>
        </div>
        <div class="row ">
            <div class="card-group col ">
                <div class="card  ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <img src="../../../assets/brands/107.webp" alt="" class="af_c_brand_img_sq">
                  </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/Q1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/P1.webp" alt="" class="af_c_brand_img_txt">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/1e.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body text-center ">
                        <img src="../../../assets/brands/171.webp" alt="" class="af_c_brand_img_sq">
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col p-5">
        <h1 class="row  font-weight-bold">Quick links</h1>
        <div class="row ">
            
            <div class="card-group col ">
                <div class="card p-2 ">
                  <div class="card-body text-center animate__fadeInDownBig animate__delay-2 2s">
                    <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none " >Wireless Earphone</a> </h3>
                  </div>
                </div>
                <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Power Bank</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Speaker</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Charger & Date Cable</a> </h3>
                    </div>
                  </div>
                  <div class="card p-2">
                    <div class="card-body text-center ">
                      <h3 class="card-title font-weight-bold "><a href="" class="text-dark text-decoration-none">Creative Lifestyle</a> </h3>
                    </div>
                  </div>
                
              </div>
        </div>
    </div>
</div>

<div class="row m-0 p-0 my-3">
    <div class="col-sm-12 col-md-12 col-6-lg col-xl-6 p-5">
        <img src="../../../assets/imgs-ad/store1.webp" alt="" style="width: 100%; height:100%;">
    </div>
    <div class="col-sm-12 col-md-12 col-6-lg col-xl-6 ">
        <div class="row p-3 ">
            <div class="col pt-5">
                <h2 class="row font-weight-bold my-4">REMAX OFFICIAL STORE</h2>
                <div class="row text-muted h6 my-4 pl-3">
                    <p>The Official Website of REMAX Assuit developed </p>
                    <p>(Authorized Sole Distributor of REMAX Mobile Phone Accessories in Assuit)</p>
                </div>
                <div class="row my-4  pl-3">
                    <a href="#" class="btn btn-lg text-white h af_remax_btn" >Our Products</a> 
                </div>
            </div>
        </div>
    </div>
</div>



