<div class="row my-4">

    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
        <div class="card">
            <ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage 
            [magnification]=".5" 
            [enableScrollZoom]="true"
            [enableLens]="true" 
            [lensWidth]="200" 
            [lensHeight]="200">
            </ngx-image-zoom>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 p-2">
        <div class="card">
            
        </div>
    </div>

</div>