<div class="container-fluid">
    <div class="row my-2 position-relative">

        <div class="preview col-sm-12 col-md-12 col-lg-6 p-1 p-sm-3 p-md-4 p-lg-4 p-xl-4  ">
            <div class="pro_card card border-0 shadow-sm rounded-0">
                <!-- <ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage >
                </ngx-image-zoom> -->
                <!-- <lib-ngx-image-zoom
                    [thumbImage]=myThumbnail
                    [fullImage]=myFullresImage
                ></lib-ngx-image-zoom> -->
                	
                <div class="preview-pic tab-content shadow-sm">
                    <div class="tab-pane " *ngFor="let img of ItemImgs; index as i; let first = first" [ngClass]="{ 'active': first}"  id="pic-{{i}}"><img src="{{imgDirectory}}{{img.img}}"  class="imgfit" height="500px"/></div>
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                    <li class="shadow" *ngFor="let img of ItemImgs; let i = index; let X = first" [ngClass]="{'active': X}"  ><a  data-toggle="tab" href="#pic-{{i}}"><img src="{{imgDirectory}}{{img.img}}" class="imgUlist"  /></a></li>
                </ul>
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"  *ngFor="let img of ItemImgs; let i = index; let X = first" >
                      <a class="nav-link active" [ngClass]="{ 'nav-link active': first , 'nav-link': !first }"  id="{{i}}-tab" data-toggle="tab" href="#{{i}}" role="tab" aria-controls="{{i}}" aria-selected="true">
                        <img src="{{imgDirectory}}{{img.img}}" />
                      </a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div *ngFor="let img of ItemImgs; index as i; let first = first" [ngClass]="{ 'show active': first , 'tab-pane fade': !first }"   id="{{i}}-img" role="tabpanel" aria-labelledby="{{i}}-tab">
                        <img src="{{imgDirectory}}{{img.img}}" />  
                    </div>
                </div> -->
               
                
                 
            </div>
            <div class="row p-3">
                <div class="pro_card card col border-0 shadow-sm rounded-0">
                    <pre class="product-description">{{item?.details }}</pre>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 p-3  ">
            <div class="pro_card card sticky-top border-0 shadow-sm rounded-0" style="z-index: inherit;top:140px">
                <h1 class="product-title">{{item?.name}}</h1>
                <div class="p-1 bg-red text-light rounded discount" *ngIf="item?.discount" >Discount {{item?.discount}}</div>
                <div class="pt-2 my-2">
                    <a href="#" class=" pr-2 text-info border-right" >{{brand?.name}}</a>
                    <span class="pl-2 text-muted" >Shk:214546543</span>
                    <div class="text-muted float-right">
                        <a href="#" class="faceLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="#" class="pintink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        <a href="#" class="twitLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#" class="enveLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fas fa-envelope" aria-hidden="true"></i></a>
                    </div>

                </div>
                <hr>
               
                <div class="price p-2"> <span class="h5">Price: </span> <span>{{item?.price | currency : 'EGP'}}</span></div>
                <div class="price p-2"> <span class="h5">Quantity:  </span> 
                    <input aria-label="Quantity" class="quantity-selector__value w-25 m-2 d-inline-block" 
                    min="1" max="{{(item?.quantity)-1}}" name="quantity" value="1" type="number" #quantity>
                </div>
                
                <div class="row">
                    <div class="col-12 col-sm bg-orange rounded-sm text-center p-3 mx-1 add-to-cart">
                        <a (mousedown)="addToCart(item,quantity.value)"  class="h5 text-white text-decoration-none w-100 h-100 stretched-link" >Add to cart</a>
                    </div>
                    <div class="col-12 col-sm blue rounded-sm text-center p-3 pt-2 my-3 my-sm-0 mx-1 buy-it">
                        <a [routerLink]="['/checkout']" class="h5 text-white text-decoration-none stretched-link" >Buy it now</a>
                    </div>
                </div>     
            </div>
        </div>
    
    </div>
    <!-- <app-products-row></app-products-row>
    <app-products-row></app-products-row> -->
</div>
