<!--Section: Block Content-->
<section class="container-fluid p-0">
  <section class="container-fluid p-0">
    <div class="row px-5 py-3">
      <h1 class="font-weight-bold heading">My Cart</h1>
    </div>
    <!--Grid row-->
    <div class="row mx-1">

      <!--Grid column-->
      <div class="col-lg-8 p-0 p-sm-3">

        <!-- Card -->
        <div class="card wish-list mb-3 rounded-sm border-0 shadow-sm">
          <div class=" card-header bg-white py-3">
            <div class="row ">
              <div class="col-12 col-sm-7 ">
                <h3 class="text-secondary font-weight-bold pl-3 pl-sm-5">Product</h3>
              </div>
              <div class="col-3 d-none d-sm-block">
                <h3 class="text-secondary font-weight-bold ">Quantity</h3>
              </div>
              <div class="col-2 d-none d-sm-block">
                <h3 class="text-secondary font-weight-bold ">Total</h3>
              </div>

            </div>

          </div>
          <div class="card-body itemsSection">
            <div class="row d-flex align-items-center border-bottom p-2" *ngFor="let item of cartItems">
              <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <div class="row">

                  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0 text-center">
                      <a [routerLink]="['/products',item.item.id ]">
                          <img class=" ProdImd " src="../../../assets/noImgItem.png" alt="Sample" *ngIf="!getItemImg(item.item.id)?.length" >
                          <img class=" ProdImd " src="{{imgDirectory}}{{getItemImg(item.item.id)[0]?.img}}" alt="Sample" *ngIf="getItemImg(item.item.id)?.length" >
                      </a>
                    </div>
                  </div>

                  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">{{item.item.name}}</h4>
                      <p class="card-text text-truncate">{{item.item.details}}.</p>
                      <p class="card-text price price--highlight text-secondary">{{getCurrentPrice(item.item) | currency : 'EGP'}}</p>
                      <p class="price price--compare" *ngIf="item.discount"><del>{{item.item.price}}</del></p>
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                
                <div class="quantity-selector">
                  <button type="button" class="quantity-selector__button quantityButton" data-action="decrease-quantity"
                    data-quantity="1" data-line-id="32463935373372:2c6eca2e264be199b03d8637acda4cba"
                    aria-label="Decrease quantity by 1" title="Decrease quantity by 1"
                    (click)="subQuantity(item)" >
                    <svg class="icon icon--minus" viewBox="0 0 10 2" role="presentation">
                      <path d="M10 0v2H0V0z" fill="currentColor"></path>
                    </svg>
                  </button>
                  <input aria-label="Quantity" class="quantity-selector__value"  style="display: inline;width: 60%;"
                    min="1" max="{{item.item.quantity -1}}" name="quantity" value="{{item.quantity}}" type="number" (change)="calcQuantity(item.item, $event.target.value)">
                  <button type="button"  class="quantity-selector__button quantityButton" (click)="addQuantity(item)"
                                aria-label="Increase quantity by 1" title="Increase quantity by 1">
                    <svg class="icon icon--plus" viewBox="0 0 10 10" role="presentation">
                      <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </button>
                </div>
                <a (click)="deleteItem(item.item)" class="ml-3 text-muted text-decoration-none btn" style="margin-left: 50px;" >Remove</a>
              </div>
              <div class="col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h4 class="text-center">
                  <p class="mb-0 text-success"><span>{{ getTotalPrice(item)| currency : 'EGP'}}</span></p>
                </h4>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <!--Grid column-->
      <div class="col-lg-4 p-0 p-sm-3">
        <div style="position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 50px;">
          <!-- Card -->
          <div class="card mb-3">
            <div class="card-body">

              <h5 class="mb-3">The total amount of</h5>

              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Total Price
                  <span>{{totalPrice()| currency : 'EGP'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Quantity
                  <span>{{totalQuantity()}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>The total amount of</strong>
                    <strong>
                      <p class="mb-0">(including VAT)</p>
                    </strong>
                  </div>
                  <span><strong>$53.98</strong></span>
                </li>
              </ul> 
              <button type="button" (click)="resetCart()"  class="btn btn-warning btn-block waves-effect waves-light  talibBtn">Clear Cart</button>
              <a [routerLink]="['/checkout']" class="btn btn-primary btn-block waves-effect waves-light  talibBtn" >Checkout</a>

              

            </div>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-3">
            <div class="card-body">

              <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample1"
                aria-expanded="false" aria-controls="collapseExample1">
                Add a discount code (optional)
                <span><i class="fas fa-chevron-down pt-1"></i></span>
              </a>

              <div class="collapse" id="collapseExample1">
                <div class="mt-3">
                  <div class="md-form md-outline mb-0">
                    <input type="text" id="discount-code1" class="form-control font-weight-light"
                      placeholder="Enter discount code">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <section class=" row px-3">

    <div class="col-lg-8 p-2 p-sm-4">
      <!-- Card -->
      <div class="card wish-list mb-3 rounded-sm">
        <div class=" card-header " data-toggle="collapse" data-target="#Career_Objective">
          <div class="row">
            <div class="col-10">
              <h4>Product</h4>
            </div>

            <div class="col-2">
              <div class="fa fa-arrow-down">
              </div>
            </div>

          </div>

        </div>
        <div class="card-body">
          <div class="col-sm-12 collapse mx-1" id="Career_Objective">
            <form class="form-inline">
              <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Email</label>
                <div class="dropdown show">
                  <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="row mx-3">
    <div class="row p-3">
      <h3 class="font-weight-bold">Recently viewed</h3>
    </div>
  </section>
  <app-products-row></app-products-row>
  <div class="my-5"></div>

</section>

<!--Section: Block Content-->