<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">
        Username: 
    </div>
    <div class="col">
        {{user?.username}}
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                First name: 
            </div>
            <div class="col">
                {{user?.first_name}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                Last name: 
            </div>
            <div class="col">
                {{user?.last_name}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        Phone: 
    </div>
    <div class="col">
        {{user?.phone}}
    </div>
</div>

<div class="row">
    <div class="col">
        
    </div>
</div>