<div class="row ">
    <div class="col-md-3  d-sm-none d-md-block"></div>
    <div class="col-md-6">
        <div class="card row shadow-lg my-5">
            <div class="card-body col p-5">
                <!-- Nested Row within Card Body -->
               
                        
                <div class="text-center">
                    <h1 class="h4  mb-4">Welcome Back!</h1>
                </div>
                <form >
                    <div class="form-group">
                        <input type="text"  name="username" class="form-control form-control-user"
                            id="exampleInputEmail" aria-describedby="emailHelp"
                            placeholder="Enter Email Address..."
                            [(ngModel)]="username" >
                    </div>
                    <div class="form-group">
                        <input type="password"  name="pwd" class="form-control form-control-user"
                            id="exampleInputPassword" placeholder="Password"
                            [(ngModel)]="passwd" >
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Remember
                                Me</label>
                        </div>
                    </div>
                    <a routerLink="/home" class="d-block mb-4 text-dark" >Back to Home</a>
                    <button (click)="loginFun()"  class="btn btn-primary btn-user btn-block">
                        Login
                    </button >
                    
                </form>
                       
                        
            </div>
        </div>

    </div>
    <div class="col-md-3 d-sm-none d-md-block"></div>
</div>
