<div class="container-fluid sticky-top" id="remaxNav" style="background-color: #05091e;">
    <div class="row d-flex justify-content-center align-items-center mx-0">
        <div class="col-lg-1 col-md-1 col-sm-1 col-2  d-inline-block d-lg-none ">
          
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="text-light" src="assets/menu.svg" id="menuImg"  alt="cart" >
            </a>
            <div class="dropdown-menu dropdown-menu-left p-3 shadow animated--grow-in"
                        aria-labelledby="menuDropdown">
                        <ul class="navbar-nav h6 ">
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#ulProducts"  id="allProductsDropdownMenuLink"  
                              role="button"  data-toggle="dropdown"
                              aria-haspopup="true" 
                              aria-expanded="false" >Products </a>
                              <ul id="ulProducts" class="dropdown-menu" aria-labelledby="allProductsDropdownMenuLink">
                                <li ><a class="dropdown-item" routerLinkActive="active" href="http://localhost:4200/products/0/0">All Products</a></li>
                                  <li *ngFor="let categ of categories"><a  class="dropdown-item" routerLink="/products/1/{{categ?.id }}" >{{categ?.name}}</a></li>
                              </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="allBrandsDropdownMenuLink"  
                              role="button"  data-toggle="dropdown"
                              aria-haspopup="true" 
                              aria-expanded="false" >Barnds</a>
                              <ul class="dropdown-menu" aria-labelledby="allBrandsDropdownMenuLink">
                                  <li *ngFor="let brand of brands"><a  class="dropdown-item" routerLink="/products/2/{{brand?.id}}" >{{brand?.name}}</a></li>
                              </ul>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" routerLink="/products/1/7">Smart Watches</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" routerLink="/products/1/5">Mobiles & Tablets</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" routerLink="/products/10">IPhone 12 Pro</a>
                          </li>
                          
                         
                          </ul>
                    </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4  ">
            <a class="navbar-brand  pl-xl-4 pl-lg-4 pl-3" routerLink="/home">
                <img src="../../../assets/logo.png" id="logoImg" >
            </a>        
        </div>
        <div class="col-sm-4 col-4 d-block d-md-none d-none "></div>
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6 d-none d-md-block ">
            <div class="input-group  ">
                <input class="border-0 rounded-0" type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2"
                [(ngModel)]="searchTerm" (keyup)="serachResult()">
                <ul class="position-fixed bg-white list-group overflow-auto" *ngIf="results"  id="searchList">
                  <li class="list-group-item" *ngFor="let result of results | slice:0:9" >
                    <a [routerLink]="['/products',result.id ]" target="_blank">
                      <img  src="../../../assets/noImgItem.png" width="50" height="50" alt="Sample" *ngIf="!getItemImg(result.id)?.length"  >
                      <img src="{{ imgDirectory }}{{ getItemImg(result.id)[0]?.img}}" width="50" height="50" alt="{{result.name}}" *ngIf="getItemImg(result.id)?.length" >
                      {{ result.name }}
                    </a>
                  </li>
                </ul>
                <div class="input-group-append ">
                  <button class="btn btn-light pl-4" type="button"><i class="far fa-search text-dark"></i></button>
                </div>
            </div>            
        </div>
        <div class="col-xl-8 col-lg-2 col-md-2 col-sm-2 col-2 d-block d-md-none "> 
          <a class="btn " href="#collapseSearch"  data-toggle="collapse" aria-controls="collapseSearch">
            <img class="text-light" src="assets/search-interface-symbol.svg" id="seachImg"  alt="searchImg" >
          </a>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-2  d-none d-sm-block dropdown " >
            <button id="cartDropdownBtn" class="btn dropdown-toggle" style="color: white;" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >
                <img class="text-light" src="assets/shopping-cart.svg" id="cartImg" width="40px" height="40px"  alt="cart" > <span class="badge badge-light text-dark rounded-circle align-top mr-2">{{ totalQuantity() }}</span> 
            </button>
            <div id="cartDropdown" class="dropdown-menu animate slideIn overflow-auto" >
                <form >
                    <div class="container-fluid p-4 " >
                      <div class="row ">
                        <div class="col container-fluid  " >
                          <div class="row border-bottom p-2 my-1" *ngFor="let item of getALLItems()" >
                            <div class="col">
                              <div class="row d-flex align-items-center" >
                                <div class="col-8">
                                  <div class="row">
                                    <div class="col-4">
                                      <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <a [routerLink]="['/products',item.item?.id ]">
                                          <img class="img-fluid w-100"
                                            src="../../../assets/noImgItem.png" alt="Sample" *ngIf="!getItemImg(item.item?.id)?.length" >
                                          <img class="img-fluid w-100"
                                            src="{{imgDirectory}}{{getItemImg(item.item.id)[0].img}}" alt="Sample" *ngIf="getItemImg(item.item?.id)?.length" >
                                        </a>
                                      </div>
                                    </div>
                  
                                    <div class="col-8">
                                      <div class="card-body">
                                        <h5 class="card-title">{{item.item?.name}}</h5>
                                        <p class="card-text text-truncate">{{item.item?.details}}.</p>
                                        <p class="mb-0 text-info"><span><strong>{{ getTotalPrice(item)| currency : 'EGP'}}</strong></span></p>
                                        <p class="price price--compare" *ngIf="item.discount"><del>{{item.item.price}}</del></p>
                                      </div>
                  
                                    </div>
                                  </div>
                  
                                </div>
                                <div class="col-4">
                                  
                                  <div class="quantity-selector">
                                    <button type="button" class="quantity-selector__button quantityButton"
                                      (click)="subQuantity(item);e.preventDefault();" >
                                      <svg class="icon icon--minus" viewBox="0 0 10 2" role="presentation">
                                        <path d="M10 0v2H0V0z" fill="currentColor"></path>
                                      </svg>
                                    </button>
                                    <input aria-label="Quantity" class="quantity-selector__value"  style="display: inline;width: 60%;"
                                      min="1" max="{{item.item?.quantity -1}}" name="quantity" value="{{item.quantity}}" type="number" (change)="calcQuantity(item.item, $event.target.value)">
                                    <button type="button"  class="quantity-selector__button quantityButton" (click)="addQuantity(item)"
                                                  aria-label="Increase quantity by 1" title="Increase quantity by 1">
                                      <svg class="icon icon--plus" viewBox="0 0 10 10" role="presentation">
                                        <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path>
                                      </svg>
                                    </button>
                                  </div>
                                  <a (click)="deleteItem(item.item)" class="ml-3 text-muted text-decoration-none btn" style="margin-left: 50px;" >Remove</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        
                      <div class="row h5 font-weight-bold  p-3">
                        <span class="ml-1">Total</span>
                        <span class="ml-auto">{{ totalPrice()| currency : 'EGP'}}</span>
                      </div>
                      <div class="row">
                          <div class="col blue rounded-sm text-center p-3 mx-2 view-cart">
                              <a [routerLink]="['/cart']" class="h5 text-white text-decoration-none" >Veiw cart</a>
                          </div>
                          
                          <div class="col bg-orange  rounded-sm text-center p-3 mx-2 checkout">
                              <a [routerLink]="['/checkout']" class="h5 text-white text-decoration-none" >Checkout</a>
                          </div>
                      </div>  
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="panel-collapse collapse col-12 mb-2 " id="collapseSearch">
          <div class="input-group ">
            <input class="border-0 rounded-0" type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2"
            [(ngModel)]="searchTerm" (keyup)="serachResult()">
            <ul class="position-fixed bg-white list-group overflow-auto" *ngIf="results"  id="searchList">
              <li class="list-group-item" *ngFor="let result of results | slice:0:9" >
                <a [routerLink]="['/products',result.id ]" target="_blank">
                  <img  src="../../../assets/noImgItem.png" width="50" height="50" alt="Sample" *ngIf="!getItemImg(result.id)?.length"  >
                  <img src="{{ imgDirectory }}{{ getItemImg(result.id)[0]?.img}}" width="50" height="50" alt="{{result.name}}" *ngIf="getItemImg(result.id)?.length" >
                  {{ result.name }}
                </a>
              </li>
            </ul>
            <div class="input-group-append ">
              <button class="btn btn-light" type="button"><i class="far fa-search text-dark"></i></button>
            </div>
          </div>    
        </div>
    </div>

    <nav class="row navbar navbar-expand-lg navbar-light shadow-sm border-0 bg-white d-none d-lg-block ">
        
        <div class="collapse navbar-collapse" id="linksNav">
          <ul class="navbar-nav h6 ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="allProductsDropdownMenuLink"  
                role="button"  data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false" >All Products </a>
                <ul class="dropdown-menu" aria-labelledby="allProductsDropdownMenuLink">
                  <li ><a class="dropdown-item" routerLinkActive="active" href="http://localhost:4200/products/0/0">All Products</a></li>
                    <li *ngFor="let categ of categories"><a  class="dropdown-item" href="http://localhost:4200/products/1/{{categ?.id }}" >{{categ?.name}}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="allBrandsDropdownMenuLink"  
                role="button"  data-toggle="dropdown"
                aria-haspopup="true" 
                aria-expanded="false" >Barnds</a>
                <ul class="dropdown-menu" aria-labelledby="allBrandsDropdownMenuLink">
                    <li *ngFor="let brand of brands"><a  class="dropdown-item"  [routerLink]="['products/2/',brand?.id]"  >{{brand?.name}}</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="products/1/7" >Smart Watches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="products/1/5">Mobiles & Tablets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="products/10" >IPhone 12 Pro</a>
            </li>
            
           
            </ul>
        </div>
    </nav>
    
  
</div>



