<div class="">
    <div class="card-img-top product-grid " >
      <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
      <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
      <span class="product-new-label">Save 15%</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text price price--highlight">K8,075</p>
      <p class="price price--compare"><del>k,000</del></p>
    </div>
</div>