<div class="">
    <div class="card-img-top product-grid " >
      <img class="pic-1 p-3 text-center productImgStyle"   *ngIf="itemImgs?.length" src="{{imgDirectory}}{{itemImgs[0].img}}">
      <img class="pic-2 p-3 text-center productImgStyle"  *ngIf="itemImgs?.length == 1" src="{{imgDirectory}}{{itemImgs[0].img}}" >
      <img class="pic-2 p-3 text-center productImgStyle"  *ngIf="itemImgs?.length > 1" src="{{imgDirectory}}{{itemImgs[1].img}}" >
      <img class="pic-1 p-3 text-center productImgStyle"  *ngIf="!itemImgs?.length" src="assets/noImgItem.png" >
      <img class="pic-2 p-3 text-center productImgStyle"  *ngIf="!itemImgs?.length" src="assets/noImgItem.png" >
      <span class="product-new-label">Save {{item.discount}}</span>
    </div>
    <div class="card-body">
      <h2 class="card-title font-weight-bold"><a [routerLink]="['/products/',item?.id]" class="text-decoration-none text-dark">{{item.name}} </a></h2>
      <p class="card-text text-truncate">{{item.details}}</p>
      <p class="card-text price price--highlight">{{currentPrict | currency : 'EGP'}}</p>
      <p class="price price--compare" *ngIf="item.discount"><del>{{item?.price | currency : 'EGP'}}</del></p>
    </div>
</div>

