.product-grid{
    position: relative;
    }
    .product-grid .product-image{position:relative;transition:all .3s ease 0s}
    .product-grid .product-image a{display:block}
    .product-grid .product-image img{width:100%;height:auto}
    .product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
    .product-grid:hover .pic-1{opacity:1}
    .product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
    .product-grid:hover .pic-2{opacity:1}
    .product-grid .product-new-label{color:#fff;background-color:red;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
    
    .atBtn{
        background-color: #ec5720;
        color: white;
    }
    .atBtn2{
        color: #1e2d7d;
        box-shadow: 0 0 0 1px #e1e3e4 inset;
    }
    .price--highlight {
        margin-right: 0.7em;
        color: #ee0000;
    }
    
    
    .product-item .price--compare {
        font-size: 15px;
    }
    .product-item .price {
        font-size: 19px;
    }
    .product-item__price-list .price {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .price--compare {
        position: relative;
        color: #677279;
        font-size: 17px;
    }
    
    