
    <!-- <div class="row no-gutters"  data-toggle="collapse">
      <div class="col-lg-4 p-2" class="product-grid">
        <img class="pic-1 p-2" style="width: 150px;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
        <img class="pic-2 p-2"style="width: 150px;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
        <span class="product-new-label">Save 15%</span>

      </div>
      
      <div class="col-lg-6">
        <div class="card-body">
          <h5 class="card-title">UGREEN</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text price price--highlight">K8,075</p>
          <p class="price price--compare"><del>k,000</del></p>
        </div>
      </div>
      <div class="col-lg-2 " >
        <br><br>
        <button type="button"  class=" atBtn btn btn-lg">Add to Cart</button>
        <br><br>
        <button type="button"  class=" atBtn2 btn btn-lg">Quick View</button>
      </div>
    </div>

    <div class="row no-gutters  ">
        <div class="col-lg-4 p-2" class="product-grid">
          <img class="pic-1 p-2" style="width: 150px;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-1.jpg">
          <img class="pic-2 p-2 "style="width: 150px;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-2.jpg">
          <span class="product-new-label">Save 15%</span>
  
        </div>
        
        <div class="col-lg-6">
          <div class="card-body">
            <h5 class="card-title">UGREEN</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text price price--highlight">K8,075</p>
            <p class="price price--compare"><del>k,000</del></p>
           
          </div>
        </div>
        <div class="col-lg-2 " >
          <br><br>
          <button type="button"  class=" atBtn btn btn-lg">Add to Cart</button>
          <br><br>
          <button type="button"  class=" atBtn2 btn btn-lg">Quick View</button>
        </div>
      </div>  -->

<div class="row p-3">
    <div class="card col p-0">
      <div class="container-fluid">
        <div class="row p-4">
          <div class="col ">
            <h1 class="font-weight-bold ">{{titel}} </h1>
          </div>
        </div>
        <!-- <div class="row row-cols-sm-3 justify-content-between">
          <div class="col hidden-sm-up">
            Showing 1 - 24 of 30 products
          </div>
          <div class="col">
            
            <a class="text-secondary text-decoration-none dropdown-toggle border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col">
            
            <a class="text-secondary text-decoration-none dropdown-toggle border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div> -->
        <div class="row mb-4 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" *ngIf="getContentItem()?.length" >
          
          <div class="card col" *ngFor="let item of getContentItem()">
            <app-product-card
              [item]="item"
            ></app-product-card>
          </div>
          
        </div>

        <div class="row" *ngIf="!getContentItem()?.length">
          <div class="col p-5">
            <h1 class="p-5 text-center"> There are no Products</h1>
          </div>
        </div>


        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>

      
    </div>
    
</div>




