<main class="mt-5 pt-4">
  <div class="container wow fadeIn">

    <!-- Heading -->


    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">
          <div class="card-header">
            <h2 class="my-2 h2">Checkout form</h2>
          </div>

        
          <div class="card-body">

            <!--Grid row-->
            <div class="row">
              <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-check-email-tab" #checkemail data-toggle="tab" href="#nav-check_email" role="tab" aria-controls="nav-home" aria-selected="true">Check email</a>
                      
                      <a class="nav-link" id="nav-send-key-tab" #sendkey data-toggle="tab" [style.visibility]="(currentclient?.is_active) ? 'hidden' : 'visible' " href="#nav-send-key" role="tab" aria-controls="nav-profile" aria-selected="false">send code</a>
                       <a class="nav-link " id="nav-update-view-tab" [style.visibility]="(!currentclient?.is_active) ? 'hidden' : 'visible' "  #clientinfo data-toggle="tab" href="#nav-client-info" role="tab" aria-controls="nav-home" aria-selected="false" (click)="getclientdata()" >client info</a>
                      <a class="nav-link" id="nav-order-info-tab" [style.visibility]="(!clientsLocations?.length) ? 'hidden' : 'visible' " #orderinfo data-toggle="tab" href="#nav-order-form" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="selectfunction()">order info</a>
                      </div>
                </nav>
                <div class="tab-content bg-white" id="nav-tabContent">
                    <div class="tab-pane fade show active shadow" id="nav-check_email" role="tabpanel" aria-labelledby="nav-item-view-tab">
                        <div class="row table-responsive p-4" style="max-height: 400px;">
                          <form class="col p-4" [formGroup]="emailCheck" (ngSubmit)="emailChecksubmin()">
                            <div class="form-row">
                              <div class="form-group col-sm-6 col-md-6">
                                <label for="inputItemName">Email</label>
                                <input type="email" class="form-control" id="inputItemName" name="email" formControlName="email">
                                <div class="alert alert-danger" role="alert" *ngIf="emailCheck.controls['email'].invalid && emailCheck.controls['email'].touched">
                                    <strong *ngIf="emailCheck.controls['email'].errors.required"> email  is required </strong>
                                    <strong *ngIf="emailCheck.controls['email'].errors.pattern"> email  must be email format</strong>
                        
                                </div>
                              </div>
                              
                            <button  type="submit" class="btn btn-success m-3" [disabled]="emailCheck.invalid" >check</button>      
                            </div>
                            
                        </form>

                        </div>
                    </div>
                    <div class="tab-pane fade show  shadow" id="nav-send-key" role="tabpanel" aria-labelledby="nav-item-view-tab">
      
                        <div class="row p-2">
                            <form class="col p-4" [formGroup]="sendkeyForm" (ngSubmit)="sendkeysubmit()">
                                <div class="form-row">
                                  <div class="form-group col-sm-6 col-md-6">
                                    <label for="inputItemName">code</label>
                                    <input type="text" class="form-control" id="inputItemName" name="keyForm" formControlName="keyForm">
                                    <div class="alert alert-danger" role="alert" *ngIf="sendkeyForm.controls['keyForm'].invalid && sendkeyForm.controls['keyForm'].touched">
                                        <strong *ngIf="sendkeyForm.controls['keyForm'].errors.required"> code  is required </strong>
                                    </div>
                                  </div>
                                <button  type="submit" class="btn btn-success m-3" [disabled]="sendkeyForm.invalid" >send key</button>               
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                
                    <div class="tab-pane fade shadow" id="nav-client-info" role="tabpanel" aria-labelledby="nav-item-form-tab">
                        <div class="row p-2">
                            <form class="col p-4" [formGroup]="clientForm" (ngSubmit)="updateclient()">
                                <div class="form-row">
                                  
                                  <div class="form-group col-sm-6 col-md-6">
                                    <label for="inputItemName">Name</label>
                                    <input type="text" class="form-control" id="inputItemName" name="name" formControlName="name">
                                    <div class="alert alert-danger" role="alert" *ngIf="clientForm.controls['name'].invalid && clientForm.controls['name'].touched">
                                      
                                      <strong *ngIf="clientForm.controls['name'].errors.required">  name is required </strong>
                                      <strong *ngIf="clientForm.controls['name'].errors.minlength">  name must be than 3 letter</strong>
                                  
                                    </div>
                                  </div>
                              
                                <button  type="submit" class="btn btn-primary m-3" [disabled]="clientForm.invalid" >change Name</button>
                                  
                                </div>
                                
                            </form>    
                        </div>
                        <hr>
                        <div class="row p-2">
                     
                        <form class="col p-4" [formGroup]="clientphoneForm" (ngSubmit)="updateclientphone()">
                          <div class="form-row">
                            
                            <div class="form-group col-sm-6 col-md-6">
                              
                                <label for="inputItemName">Phone</label>
                                <input type="text" class="form-control" id="inputItemName" name="phone" formControlName="phone">
                                <div class="alert alert-danger" role="alert" *ngIf="clientphoneForm.controls['phone'].invalid && clientphoneForm.controls['phone'].touched">
                                    <strong *ngIf="clientphoneForm.controls['phone'].errors.required"> Phone is required </strong>
                                    <strong *ngIf="clientphoneForm.controls['phone'].errors.minlength"> Phone number is less than 11 numbers</strong>
                                    <strong *ngIf="clientphoneForm.controls['phone'].errors.maxlength"> Phone number is more than 11 numbers</strong>
                                    <strong *ngIf="clientphoneForm.controls['phone'].errors.pattern"> Phone number must be numbers only</strong>  
                                </div>
                              </div>
                    
                        
                          <button  type="submit" class="btn btn-primary m-3" [disabled]="clientphoneForm.invalid" >ِAdd Phone</button>
                            
                          </div>
                          
                        </form>
                        </div>
                        <div class="row p-2">
                     
                            <div class="form-row">
                              
                              <table class="col table table-sm ml-3  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">phone</th>
                                    <th scope="col">action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let phone of clientPhones">
                                        <th scope="row">{{phone.id}}</th>
                                        <td>{{phone.phone}}</td>
                                        <td>
                                          <button class="btn btn-sm btn-danger ml-4" (click)="deletephone(phone)">
                                            Delete
                                          </button>
                                        </td>           
                                    </tr>
                                </tbody>
                            </table>
                        
                       </div>
                        </div>
                        <hr>
                        <div class="row p-2">
                     
                        <form class="col p-4" [formGroup]="ClientlocationForm" (ngSubmit)="addlocation()">
                          <div class="form-row">
                            
                            <div class="form-group col-sm-6 col-md-6">
                              
                                <label for="inputItemName">Address</label>
                                <input type="text" class="form-control" id="inputItemName" name="address" formControlName="address">
                                <div class="alert alert-danger" role="alert" *ngIf="ClientlocationForm.controls['address'].invalid && ClientlocationForm.controls['address'].touched">
                                    <strong *ngIf="ClientlocationForm.controls['address'].errors.required"> address is required </strong>
                                    <strong *ngIf="ClientlocationForm.controls['address'].errors.minlength"> address  must be more than 10 letter</strong>
                                </div>
                              </div>
                    
                        
                          <button  type="submit" class="btn btn-primary m-3" [disabled]="ClientlocationForm.invalid" >add address</button>
                            
                          </div>
                          
                        </form>
                        </div>
                        <div class="row p-2">
                     
                            <div class="form-row">
                              
                              <table class="col table table-sm ml-3 table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let address of clientsLocations">
                                        <th scope="row">{{address.id}}</th>
                                        <td>{{address.location}}</td>
                                        <td>
                                          <button class="btn btn-sm btn-danger ml-4" (click)="deleteaddress(address)">
                                            Delete
                                          </button>
                                        </td>           
                                    </tr>
                                </tbody>
                            </table>
                        
                       </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow" id="nav-order-form" role="tabpanel" aria-labelledby="nav-item-form-tab">
                      <div class="row p-2">
                        <form class="col p-4" [formGroup]="orderlocationForm" (ngSubmit)="addorder()">
                          <div class="form-row">
                            
                            <div class="form-group col-sm-6 col-md-6">
                              
                                <label for="inputItemName">Address</label>
                                <select class="form-control" id="inputItemName" name="address" formControlName="address" >

                                
                                  <option *ngFor="let loc of clientsLocations" value="{{loc.id}}">
                                    {{loc.location }}
                                  </option>
                                </select>      <div class="alert alert-danger" role="alert" *ngIf="orderlocationForm.controls['address'].invalid && orderlocationForm.controls['address'].touched">
                                    <strong *ngIf="orderlocationForm.controls['address'].errors.required"> address is required </strong>
                                </div>
                              </div>
                    
                        
                          <button  type="submit" class="btn btn-primary m-3" [disabled]="orderlocationForm.invalid" >add order</button>
                            
                          </div>
                          
                        </form>
                          
                      </div>
                      
                  </div>
                
                </div>
            </div>
          
  
            

        </div>
        <!--/.Card-->

      </div>
        </div>
      </div>
    
   
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{cart?.length}}</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li *ngFor="let item of cart" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{item.item.name}}</h6>
            </div>
            <span class="text-muted">{{getPrice(item) | currency : 'EGP'}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EGP)</span>
            <strong>{{totalPrice() | currency : 'EGP'}}</strong>
          </li>
        </ul>
        <!-- Cart -->

        <!-- Promo code -->
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
            </div>
          </div>
        </form>
        <!-- Promo code -->

      </div>
  

    </div>


  </div>
</main>
<!--Main layout-->
