<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <h1 class="p-4 font-weight-bold">Clients</h1>
       
    </div>
</div>
<div class="row table-responsive p-3 bg-white shadow" style="max-height: 400px;">
    <table class="col table table-sm  table-hover text-center border p-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones numbers</th>
            <th scope="col">locations</th>
            <th scope="col">Orders.No</th>
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let client of clients">
                <th scope="row">{{client.id}}</th>
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>
                     {{getClientPhones(client.id)}}
                </td>
                <td>
                     {{getClientLocations(client.id)}}
                </td>
                <td>
                    {{getClientOrders(client.id)}}
               </td>
                
            </tr>
          
        </tbody>
    </table>
</div>