
<div class="row">
  <div class=" ">
      <h1 class="font-weight-bold p-4">Accounts</h1>
  </div>
</div>

<div class="row ">
    <div class="col">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-item-view-tab" #accountView data-toggle="tab" href="#nav-item-view" role="tab" aria-controls="nav-home" aria-selected="true">Account </a>
              <a class="nav-link" id="nav-item-form-tab" #addaccountform data-toggle="tab" href="#nav-item-form" role="tab" aria-controls="nav-profile" aria-selected="false">Add Account</a>
              <a class="nav-link " id="nav-update-view-tab" [style.visibility]="(!updateElement) ? 'hidden' : 'visible' "  #updateaccountform data-toggle="tab" href="#nav-update-view" role="tab" aria-controls="nav-home" aria-selected="false">update Account</a>
              <a class="nav-link" id="nav-item-form-tab" [style.visibility]="(!resetElement) ? 'hidden' : 'visible' " #resetpasswordaccountform data-toggle="tab" href="#nav-resetpassword-form" role="tab" aria-controls="nav-profile" aria-selected="false">Reset Password</a>
              </div>
        </nav>
        <div class="tab-content bg-white" id="nav-tabContent">
            <div class="tab-pane fade show active shadow" id="nav-item-view" role="tabpanel" aria-labelledby="nav-item-view-tab">
                <div class="row table-responsive p-4" style="max-height: 400px;">
                    <table class="col table table-sm text-center">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Image</th>
                            <th scope="col">
                                Actions
                            </th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let account of accounts">
                                <th scope="row">{{account.id}}</th>
                                <td>{{account.username}}</td>
                                <td>{{account.first_name}}</td>
                                <td>{{account.last_name}}</td>
                                <td>{{account.phone}}</td>
                                <td><img src="{{imgDirectory}}{{account.img}}" alt="{{account.username}}" style="width: 50px; height: 50px;" *ngIf="account.img"> <span *ngIf="! account.img"><b>No Image</b></span></td>
                                <td>
                                    <!-- (click)="deleteFun(category.id)" -->
                                   
                                    <button class="btn btn-sm btn-primary " (click)="editAccount(account)">
                                      <i class="fas fa-edit"></i> 
                                    </button>
                                    <button class="btn btn-sm btn-primary ml-4" (click)="resetAccountPassword(account)">
                                      Reset Password 
                                    </button>
                                    <button class="btn btn-sm btn-danger ml-4" (click)="deleteFun(account.id)" >
                                      <i class="fas fa-trash-alt"></i> 
                                    </button>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
           <div class="tab-pane fade shadow" id="nav-item-form" role="tabpanel" aria-labelledby="nav-item-form-tab">
                <div class="row p-2">
                    <form class="col p-4" [formGroup]="addAccountForm" (ngSubmit)="saveAccount()">
                        <div class="form-row">
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Username</label>
                            <input type="text" class="form-control" id="inputItemName" name="username" formControlName="username">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['username'].invalid && addAccountForm.controls['username'].touched">
                                <strong *ngIf="addAccountForm.controls['username'].errors.required"> username  is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Phone</label>
                            <input type="text" class="form-control" id="inputItemName" name="phone" formControlName="phone">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['phone'].invalid && addAccountForm.controls['phone'].touched">
                              <strong *ngIf="addAccountForm.controls['phone'].errors.required"> Phone is required </strong>
                              <strong *ngIf="addAccountForm.controls['phone'].errors.minlength"> Phone number is less than 11 numbers</strong>
                              <strong *ngIf="addAccountForm.controls['phone'].errors.maxlength"> Phone number is more than 11 numbers</strong>
                              <strong *ngIf="addAccountForm.controls['phone'].errors.pattern"> Phone number must be numbers only</strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">First Name</label>
                            <input type="text" class="form-control" id="inputItemName" name="first_name" formControlName="first_name">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['first_name'].invalid && addAccountForm.controls['last_name'].touched">
                              <strong *ngIf="addAccountForm.controls['first_name'].errors.required"> First name is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Last Name</label>
                            <input type="text" class="form-control" id="inputItemName" name="last_name" formControlName="last_name">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['last_name'].invalid && addAccountForm.controls['last_name'].touched">
                              <strong *ngIf="addAccountForm.controls['last_name'].errors.required"> Last name is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Password</label>
                            <input type="password" class="form-control" id="inputItemName" name="password" formControlName="password">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['password'].invalid && addAccountForm.controls['password'].touched">
                                <strong *ngIf="addAccountForm.controls['password'].errors.required"> Password  is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Confirm Password</label>
                            <input type="password" class="form-control" id="inputItemName" name="password1" formControlName="password1">
                            <div class="alert alert-danger" role="alert" *ngIf="addAccountForm.controls['password1'].invalid && addAccountForm.controls['password1'].touched">
                                <strong *ngIf="addAccountForm.controls['password1'].errors.required"> Confirm Password  is required </strong>
                                <strong *ngIf="addAccountForm.controls['password1'].errors.mustMatch">Passwords must match</strong>
                              </div>
                          </div>
                          
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="accountImg" name="Image" accept="image/*" (change)="loadImg($event)" />
                            <label class="custom-file-label" for="accountImg">Choose Images</label>
                        </div>
                        <button  type="submit" class="btn btn-success m-3" [disabled]="addAccountForm.invalid" >Save Account</button>
                        <button  type="reset" class="btn btn-warning m-3"  >Reset</button>
                         
                        </div>
                        
                    </form>
                    
                </div>
                
            </div>
            <div class="tab-pane fade shadow" id="nav-update-view" role="tabpanel" aria-labelledby="nav-item-form-tab">
                <div class="row p-2">
                    <form class="col p-4" [formGroup]="updateAccountForm" (ngSubmit)="updateAccount()">
                        <div class="form-row">
                          
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">First Name</label>
                            <input type="text" class="form-control" id="inputItemName" name="first_name" formControlName="first_name">
                            <div class="alert alert-danger" role="alert" *ngIf="updateAccountForm.controls['first_name'].invalid && updateAccountForm.controls['first_name'].touched">
                              <strong *ngIf="updateAccountForm.controls['first_name'].errors.required"> First name is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Last Name</label>
                            <input type="text" class="form-control" id="inputItemName" name="last_name" formControlName="last_name">
                            <div class="alert alert-danger" role="alert" *ngIf="updateAccountForm.controls['last_name'].invalid && updateAccountForm.controls['last_name'].touched">
                              <strong *ngIf="updateAccountForm.controls['last_name'].errors.required"> Last name is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Phone</label>
                            <input type="text" class="form-control" id="inputItemName" name="phone" formControlName="phone">
                            <div class="alert alert-danger" role="alert" *ngIf="updateAccountForm.controls['phone'].invalid && updateAccountForm.controls['phone'].touched">
                                <strong *ngIf="updateAccountForm.controls['phone'].errors.required"> Phone is required </strong>
                                <strong *ngIf="updateAccountForm.controls['phone'].errors.minlength"> Phone number is less than 11 numbers</strong>
                                <strong *ngIf="updateAccountForm.controls['phone'].errors.maxlength"> Phone number is more than 11 numbers</strong>
                                <strong *ngIf="updateAccountForm.controls['phone'].errors.pattern"> Phone number must be numbers only</strong>  
                            </div>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="accountImg" name="Image" accept="image/*" (change)="updateAccountImg($event)" />
                            <label class="custom-file-label" for="accountImg">Choose Images</label>
                        </div>
                        <button  type="submit" class="btn btn-primary m-3" [disabled]="updateAccountForm.invalid" >Update Account</button>
                        <button  type="button" class="btn btn-danger m-3" (click)="resetUpdateForm()" >Reset</button>
                          
                        </div>
                        
                    </form>
                    
                </div>
                
            </div>
            <div class="tab-pane fade shadow" id="nav-resetpassword-form" role="tabpanel" aria-labelledby="nav-item-form-tab">
              <div class="row p-2">
                  <form class="col p-4" [formGroup]="resetPasswordAccountForm" (ngSubmit)="resetPassword()">
                      <div class="form-row">
                        
                        <div class="form-group col-sm-6 col-md-6">
                          <label for="inputItempass">Password</label>
                          <input type="password" class="form-control" id="inputItempass" name="pass" formControlName="password">
                          <div class="alert alert-danger" role="alert" *ngIf="resetPasswordAccountForm.controls['password'].invalid && resetPasswordAccountForm.controls['password'].touched">
                            <strong *ngIf="resetPasswordAccountForm.controls['password'].errors.required"> Password  is required </strong>
                        </div>
                        </div>
                        <div class="form-group col-sm-6 col-md-6">
                          <label for="inputItempass1">Confirm Password</label>
                          <input type="password" class="form-control" id="inputItempass1" name="pass" formControlName="password1">
                          <div class="alert alert-danger" role="alert" *ngIf="resetPasswordAccountForm.controls['password1'].invalid && resetPasswordAccountForm.controls['password1'].touched">
                            <strong *ngIf="resetPasswordAccountForm.controls['password1'].errors.required"> Confirm Password is required </strong>
                            <strong *ngIf="resetPasswordAccountForm.controls['password1'].errors.mustMatch">Passwords must match</strong>
                          </div>
                        </div>
                      </div>
                        
                      <button  type="submit" class="btn btn-primary m-3" [disabled]="resetPasswordAccountForm.invalid" >Update Password</button>
                      <button  type="button" class="btn btn-danger m-3" (click)="resetPasswordForm()" >Reset</button>
                          
               
                      
                  </form>
                  
              </div>
              
          </div>
        
        </div>
    </div>
    
</div>