<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left"><i class="far fa-cube"></i>Free delivery</h5>

                <p class="text-left text-muted">
                    For all orders above 20,000Ks nationwide
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left"><i class="fal fa-cart-arrow-down"></i>Full satisfaction</h5>

                <p class="text-left text-muted">
                    Returns for damaged goods within 7 days of delivery
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left"><i class="fas fa-user-tie"></i>Top-notch support</h5>

                <p class="text-left text-muted">
                    24 Hours every day.<br>
                    Call 09259911900
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left"><i class="fas fa-money-check"></i>Cashless payments</h5>

                
            </div>
            <!--Grid column-->

        </div>
        <hr class="pt-4 pb-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left">ABOUT THE SHOP</h5>

                <p class="text-left text-muted">
                    You are reaching out the official website of REMAX Myanmar Online Store.<br>
                    REMAX Myanmar is under the business of “Maximize Myanmar Co.,Ltd”<br>
                    Since 2004, Maximize Myanmar has been Authorized Sole Distributor of REMAX Mobile Phone Accessories which is the most popular mobile phone accessory brand in Myanmar and distributes official Products within market.
                </p>
            </div>

            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left">FOOTER MENU</h5>

                <p class="text-left text-muted">
                    <a class="text-dark" href="#">Your Account</a><br>
                    <a class="text-dark" href="#">Checkout</a><br>
                    <a class="text-dark" href="#">Login</a><br>
                    <a class="text-dark" href="#">Register</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <h5 class="font-weight-bold text-left">CONTACT US</h5>

                <p class="text-left text-muted font-weight-light">
                    Hot Line - 0925 99 11 900<br><br>
                    No-20, Marlamyaing Street, Bauktaw<br>
                    Quarter, Yankin <a href="#">Township</a>(Maps_မြေပုံ)
                </p>
                <form class="text-left">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                    </div>
                    <button type="submit" class=" btn-danger btn-lg border-0 rounded-0" style="background-color: #ec5720;">Subscribe</button>
                  </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-left text-muted">
                © Remax Online Shop<br>
                <a class="text-dark" href="#">2021 / Team</a>

            </div>
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 text-right text-muted">
                Follow Us<br>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                
            </div>
        </div>
        
    </div>
</footer>