<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left"><img src="../../../assets/footer-icon/box.svg" class="mx-2 footerIcon"/> Free delivery</h4>

                <p class="text-left text-muted mx-2">
                    For all orders above 20,000Ks nationwide
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left"><img src="../../../assets/footer-icon/up-arrow.svg" class="mx-2 footerIcon"/> Full satisfaction</h4>

                <p class="text-left text-muted mx-2 ">
                    Returns for damaged goods within 7 days of delivery
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left"><img src="../../../assets/footer-icon/telemarketer.svg" class="mx-2 footerIcon"/>Top-notch support</h4>

                <p class="text-left text-muted mx-2">
                    24 Hours every day.<br>
                    Call 09259911900
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left"><img src="../../../assets/footer-icon/credit-card.svg" class="mx-2 footerIcon"/> Cashless payments</h4>

                
            </div>
            <!--Grid column-->

        </div>
        <hr class="pt-4 pb-4">
        <div class="row mb-3">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left mx-2">ABOUT THE SHOP</h4>

                <p class="text-left text-muted mx-2">
                    You are reaching out the official website of REMAX Myanmar Online Store.<br>
                    REMAX Myanmar is under the business of “Maximize Myanmar Co.,Ltd”<br>
                    Since 2004, Maximize Myanmar has been Authorized Sole Distributor of REMAX Mobile Phone Accessories which is the most popular mobile phone accessory brand in Myanmar and distributes official Products within market.
                </p>
            </div>

            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left mx-2">FOOTER MENU</h4>

                <p class="text-left text-muted mx-2">
                    <a class="text-dark" href="#">Your Account</a><br>
                    <a class="text-dark" href="#">Checkout</a><br>
                    <a class="text-dark" href="#">Login</a><br>
                    <a class="text-dark" href="#">Register</a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <h4 class="font-weight-bold text-left ">CONTACT US</h4>

                <p class="text-left text-muted font-weight-light">
                    Hot Line - 0925 99 11 900<br><br>
                    No-20, Marlamyaing Street, Bauktaw<br>
                    Quarter, Yankin <a href="#">Township</a>(Maps_မြေပုံ)
                </p>
                <form class="text-left">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
                    </div>
                    <button type="submit" class=" btn-danger btn-lg border-0 rounded-0" style="background-color: #ec5720;">Subscribe</button>
                  </form>
            </div>
        </div>
        <div class="row">
            <h5 class="col-lg-6 col-md-6 mb-4 mb-md-0 text-left text-muted">
                <p class="m-0">&copy; Remax Online Shop </p>
                <a class="text-dark" href="#">2021 / Team</a>
                <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </h5>
            <div class="col-lg-4 col-md-4 "></div>
            <div class="col-lg-2 col-md-2 mb-3 mb-md-0 text-left text-muted">
                <h4 class="">Follow Us</h4>
                
                <div class="text-muted ">
                    <a href="#" class="faceLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="#" class="instaLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" class="youtlink rounded-circle bg-gray text-white btn-sm mx-1"> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
                    <a href="#" class="linkedLink rounded-circle bg-gray text-white btn-sm mx-1"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                </div>
            </div>
            
        </div>
        
    </div>
</footer>
