<!-- <swiper
#swiper 
[slidesPerView]="1" 
[centeredSlides]="true"
[navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }"
[pagination]="pagination" 
>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider1.png" alt="" ></ng-template>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider2.png" alt="" ></ng-template>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider3.webp" alt="" ></ng-template>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider4.webp" alt="" ></ng-template>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider5.jpg" alt="" ></ng-template>
<ng-template swiperSlide><img src="../../../../assets/imgs-ad/slider1.png" alt="" ></ng-template>
</swiper> -->
<!-- <swiper [zoom]="true" [autoplay]="true">
    <ng-template swiperSlide class="custom-class" [zoom]="true">
        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
  </ng-template>
        <ng-template swiperSlide>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
  </ng-template>
            <ng-template swiperSlide [zoom]="true">
                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
  </ng-template>
</swiper> -->

<!-- 
<swiper [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [pagination]="{ clickable: true }"
[thumbs]="{ swiper: thumbsSwiper }">
<ng-template swiperSlide>Slide 1</ng-template>
<ng-template swiperSlide>Slide 2</ng-template>
<ng-template swiperSlide>Slide 3</ng-template>
<ng-template swiperSlide>Slide 4</ng-template>
<ng-template swiperSlide>Slide 5</ng-template>
<ng-template swiperSlide>Slide 6</ng-template>
[scrollbar]="{ draggable: true }"

[navigation]="true"
</swiper> -->
<swiper class="af_c_sli_contanier"
      [slidesPerView]="1"
      [spaceBetween]="50"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [pagination]="{ clickable: true }"
      
    >
      <ng-template class="af_c_sli" swiperSlide ><img src="../../../../assets/imgs-ad/slider1.png" alt="" class="af_c_sli_img"></ng-template>
      <ng-template class="af_c_sli" swiperSlide  ><img src="../../../../assets/imgs-ad/slider2.png" alt="" class="af_c_sli_img"></ng-template>
      <ng-template class="af_c_sli" swiperSlide  ><img src="../../../../assets/imgs-ad/slider3.webp" alt="" class="af_c_sli_img" ></ng-template>
      <ng-template class="af_c_sli" swiperSlide  ><img src="../../../../assets/imgs-ad/slider2.png" alt="" class="af_c_sli_img" ></ng-template>
      <ng-template class="af_c_sli" swiperSlide  ><img src="../../../../assets/imgs-ad/slider2.png" alt="" class="af_c_sli_img" ></ng-template>
      <div class="swiper-pagination"></div>
</swiper>



