<div class="row pt-sm-4 pt-md-4 pt-lg-5  pt-3 justify-content-between" *ngIf="items?.length">
  <div class="col">
    <h1  class="px-4 m-0 font-weight-bold rowTitle" *ngIf="category">{{category.name}}</h1>
    <h1 class="px-4 m-0 font-weight-bold rowTitle" *ngIf="brand">{{brand.name}}</h1>
  </div>
  <div class="col-4 text-center" >
    <a id="showMorelink" *ngIf="category" class="text-info text-decoration-none moreLink"
    [routerLink]="['/products/1/',category?.id]"
      > <span class="d-none d-md-inline-block">Show</span> More 
      <!-- <i class="fas fa-angle-right"></i> -->
      <i class="fas fa-chevron-right"></i></a>
      <a id="showMorelink" *ngIf="brand" class="text-info text-decoration-none moreLink"
    [routerLink]="['/products/2/',brand?.id]"
      ><span class="d-none d-md-inline-block ">Show</span> More 
      <!-- <i class="fas fa-angle-right"></i> -->
      <i class="fas fa-chevron-right"></i></a>
  </div>
</div>

<div class="row pt-1 pt-sm-2 pt-md-2 pt-lg-3 pt-lx-3 px-1 px-sm-3 px-md-4 px-lg-4 px-xl-4 m-0" *ngIf="items?.length">
    <swiper 
    [slidesPerView]="1"
    [spaceBetween]="50"
    [navigation]="{nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev'}"
    >
    <!-- swiper-wrapper for lg and xl  size  -->
    
      <div class="swiper-wrapper col">
        <!-- swiper-wrapper for lg and xl  size  -->
        <ng-template class="d-none d-lg-block" swiperSlide >
          <div class="card-group">
              <div class="card col" *ngFor="let item of getGroupItem(1,5)">
                <app-product-card
                  [item]="item"
                ></app-product-card>
              </div>
          </div>
        </ng-template>
        <!-- swiper-wrapper for lg and xl  size  -->
        <ng-template class="d-none d-lg-block" swiperSlide *ngIf="getGroupItem(2,5)?.length">
          <div class="card-group">
              <div class="card col " *ngFor="let item of getGroupItem(2,5)" >
                <app-product-card
                  [item]="item"
                ></app-product-card>
              </div>
          </div>
        </ng-template>

        <!-- swiper-wrapper for sm and md  size  -->
       
        <!-- swiper-wrapper for sm and md  size  -->
        <!-- *ngFor="let gropNum of calculationGroups()" -->
        <ng-template class="d-none d-sm-block d-lg-none" swiperSlide *ngFor="let gropNum of [1,2,3,4];" >
          <div class="card-group">
            <div class="card col " *ngFor="let item of getGroupItem(gropNum,2);" >
              <app-product-card
                [item]="item"
              ></app-product-card>
            </div>
          </div>
        </ng-template>

        <!-- swiper-wrapper for xs  size  -->
        <ng-template class="d-block d-sm-none" swiperSlide *ngFor="let item of getItemsInXsSize(6)" >
            <div class="card col" >
              <app-product-card
                [item]="item"
              ></app-product-card>
            </div>
        </ng-template>
        
      </div>
    
    
    
    
    <div slot="container-end" class="swiper-button-prev"></div>
    <div slot="container-start" class="swiper-button-next"></div>
  </swiper>

</div>
 