<div class="row pt-5 justify-content-between" *ngIf="items?.length">
  <div class="col">
    <h1 class="px-4 m-0 font-weight-bold" *ngIf="category">{{category.name}}</h1>
    <h1 class="px-4 m-0 font-weight-bold" *ngIf="brand">{{brand.name}}</h1>
  </div>
  <div class="col-2 text-center " >
    <a id="showMorelink" *ngIf="category" class="text-info text-decoration-none"
    [routerLink]="['/products/1/',category?.id]"
      >Show More 
      <!-- <i class="fas fa-angle-right"></i> -->
      <i class="fas fa-chevron-right"></i></a>
      <a id="showMorelink" *ngIf="brand" class="text-info text-decoration-none"
    [routerLink]="['/products/2/',brand?.id]"
      >Show More 
      <!-- <i class="fas fa-angle-right"></i> -->
      <i class="fas fa-chevron-right"></i></a>
  </div>
</div>

<div class="row pt-2 px-4 m-0" *ngIf="items?.length">
    <swiper 
    [slidesPerView]="1"
    [spaceBetween]="50"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [pagination]="{ clickable: true }"
    [navigation]="true">

    <ng-template  swiperSlide >
      <div class="card-group">
          <div class="card col " *ngFor="let item of getGroupItem(1)">
            <app-product-card
              [item]="item"
            ></app-product-card>
          </div>
      </div>
    </ng-template>
    <ng-template  swiperSlide *ngIf="getGroupItem(2)?.length">
      <div class="card-group">
          <div class="card col " *ngFor="let item of getGroupItem(2)" >
            <app-product-card
              [item]="item"
            ></app-product-card>
          </div>
      </div>
    </ng-template>
    <!-- <ng-template  swiperSlide >
      <div class="card-group">
        <div class="card col">
  
          <div class="card-img-top product-grid " >
            <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
            <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
            <span class="product-new-label">Save 15%</span>
          </div>
  
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text price price--highlight">K8,075</p>
            <p class="price price--compare"><del>k,000</del></p>
          </div>
        </div>
          <div class="card col">
    
            <div class="card-img-top product-grid " >
              <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
              <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
              <span class="product-new-label">Save 15%</span>
            </div>
    
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text price price--highlight">K8,075</p>
              <p class="price price--compare"><del>k,000</del></p>
            </div>
          </div>
          <div class="card col">
    
            <div class="card-img-top product-grid " >
              <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
              <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
              <span class="product-new-label">Save 15%</span>
            </div>
    
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text price price--highlight">K8,075</p>
              <p class="price price--compare"><del>k,000</del></p>
            </div>
          </div>
          <div class="card col">
    
            <div class="card-img-top product-grid " >
              <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
              <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
              <span class="product-new-label">Save 15%</span>
            </div>
    
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text price price--highlight">K8,075</p>
              <p class="price price--compare"><del>k,000</del></p>
            </div>
          </div>
          <div class="card col">
    
            <div class="card-img-top product-grid " >
              <img class="pic-1 p-3 text-center" style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-3.jpg">
              <img class="pic-2 p-3 text-center"style="width: 100%;"  src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-4.jpg">
              <span class="product-new-label">Save 15%</span>
            </div>
    
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text price price--highlight">K8,075</p>
              <p class="price price--compare"><del>k,000</del></p>
            </div>
          </div>
      </div>
    </ng-template> -->
    <!-- <ng-template pagination>

    </ng-template> -->
    <div class="swiper-pagination"></div>
  </swiper>

</div>
 