<div class="row p-1">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <h1 class="font-weight-bold pl-5">Orders</h1>
    </div>
</div>

<div class="row p-4">
    <div class="col">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-item-view-tab" #itemView data-toggle="tab" href="#nav-item-view" role="tab" aria-controls="nav-home" aria-selected="true">p Orders </a>
              <a class="nav-link" id="nav-item-form-tab" #itemform data-toggle="tab" href="#nav-item-form" role="tab" aria-controls="nav-profile" aria-selected="false">Delivered Orders</a>
            </div>
        </nav>
        <div class="tab-content bg-white" id="nav-tabContent">
            <div class="tab-pane fade show active shadow" id="nav-item-view" role="tabpanel" aria-labelledby="nav-item-view-tab">
                <div class="row">
                    <div class= "col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class= "col-sm-10 col-md-10 col-lg-10">
                        
                    </div>
                </div>
                <div class="row table-responsive p-4" style="max-height: 400px;">
                    <table class="col table table-sm text-center">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" >Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of items">
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.name}}</td>
                                <td>{{getCategNameByID(item.category)}}</td>
                                <td>{{getBrandNameByID(item.brand)}}</td>
                                <td>{{item.price| currency : 'EGP' }}</td>
                                <td>{{item.quantity}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary mr-5" (click)="editItem(item)">
                                        Edit Itme 
                                    </button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteFun(item.id)">
                                        delete 
                                    </button>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade shadow" id="nav-item-form" role="tabpanel" aria-labelledby="nav-item-form-tab">
                <div class="row p-2">
                    <form class="col p-4" [formGroup]="itemForm" (ngSubmit)="saveItem()">
                        <div class="form-row">
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemName">Name</label>
                            <input type="text" class="form-control" id="inputItemName" name="name" formControlName="name">
                            <div class="alert alert-danger" role="alert" *ngIf="itemForm.controls['name'].invalid && itemForm.controls['name'].touched">
                                <strong *ngIf="itemForm.controls['name'].errors.required"> name  is required </strong>
                            </div>
                          </div>
                          <div class="form-group col-sm-6 col-md-6">
                            <label for="inputItemQuantity">Quantity</label>
                            <input type="number" class="form-control"  name="quantity" id="inputItemQuantity" formControlName="quantity">
                            <div class="alert alert-danger" role="alert" *ngIf="itemForm.controls['quantity'].invalid && itemForm.controls['quantity'].touched">
                                <strong *ngIf="itemForm.controls['quantity'].errors.required"> quantity  is required </strong>
                            </div>
                          </div>
                          
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-md-6">
                                <label for="inputItemPrice">Price</label>
                                <input type="number" class="form-control" id="inputItemPrice" formControlName="price">
                                <div class="alert alert-danger" role="alert" *ngIf="itemForm.controls['price'].invalid && itemForm.controls['price'].touched">
                                    <strong *ngIf="itemForm.controls['price'].errors.required"> Price  is required </strong>
                                </div>
                              </div>
                              <div class="form-group col-sm-6 col-md-6">
                                <label for="inputItemDiscount">Discount</label>
                                <input type="number" name="discount" class="form-control" formControlName="discount" id="inputItemDiscount">
                                
                              </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="categorySelect">Category</label>
                                <select class="form-control" 
                                        id="categorySelect" 
                                        name="category" formControlName="category">                
                                  <option *ngFor="let ceteg of categories" value="{{ceteg.id}}">{{ceteg.name}}</option>
                                </select>
                                <div class="alert alert-danger" role="alert" *ngIf="itemForm.controls['category'].invalid && itemForm.controls['category'].touched">
                                    <strong *ngIf="itemForm.controls['category'].errors.required"> Category  is required </strong>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="brandSelect">Brand</label>
                                <select class="form-control" 
                                        id="brandSelect" 
                                        name="brand"  formControlName="brand">
                                  <option selected value="">No brand </option>
                                  <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
                                 
                                </select>
                                
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputItmeDetails">Details</label>
                                <textarea class="form-control" name="details" id="inputItmeDetails" rows="3" formControlName="details"></textarea>
                                <div class="alert alert-danger" role="alert" *ngIf="itemForm.controls['details'].invalid && itemForm.controls['details'].touched">
                                    <strong *ngIf="itemForm.controls['details'].errors.required"> Details  is required </strong>
                                    <strong *ngIf="itemForm.controls['details'].errors.min"> Details At lest 50 charecter </strong>
                                </div>
                            </div>
                        </div>
                        

                        <button  type="submit" class="btn btn-primary" [disabled]="itemForm.invalid" >Save Item</button>
                        <button  type="button" class="btn btn-warning" (click)="resetValues()" >Reset</button>
                    </form>
                    <div class="col" *ngIf="id">
                        <div class="row my-3">
                            <div class="col-md-9">
                                <div class=" custom-file ">
                                    <input type="file" class="custom-file-input" id="brandImg" name="myImage" accept="image/*" (change)="loadImg($event)"  />
                                    <label class="custom-file-label" for="brandImg">choose Images</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button  type="button" class="btn btn-primary rounded-sm " (click)="addImg()" ><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        
                        <div class="row table-responsive p-4" style="max-height: 400px;">
                            <table class="col table table-sm text-center border">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">img</th>
                                    <th scope="col" >Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let img of images">
                                        <th scope="row">{{img.id}}</th>
                                        <td><img src="{{imgDirectory}}{{img.img}}" alt="{{img.id}}" style="width: 50px; height: 50px;" > </td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" (click)="deleteImg(img.id)">
                                                delete 
                                            </button>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>