<div class="row ">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <h1 class="font-weight-bold p-4">Orders</h1>
    </div>
</div>

<div class="row ">
    <div class="col">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-current-orders-tab" #CurrentOrders data-toggle="tab" href="#nav-current-orders" role="tab" aria-controls="nav-home" aria-selected="true">Requests under processing</a>
              <a class="nav-link" id="nav-submited-order-tab" #NotDeliverOrders data-toggle="tab" href="#nav-not-dliver-order" role="tab" aria-controls="nav-profile" aria-selected="false">Not Delivered Orders</a>
              <a class="nav-link" id="nav-old-order-tab" #oldOrders data-toggle="tab" href="#nav-old-order" role="tab" aria-controls="nav-profile" aria-selected="false">Delivered Orders</a>
            </div>
        </nav>
        <div class="tab-content bg-white" id="nav-tabContent" >
            <div class="container-fluid tab-pane fade show active shadow" id="nav-current-orders" role="tabpanel" aria-labelledby="nav-current-orders-tab">
                <div class="row" *ngIf="getOrders()?.length">
                    <div class= "col-sm-8 col-md-8 col-lg-8">
                        <div class="row table-responsive p-1" style="max-height: 400px;">
                            <table class="col table table-sm  table-hover text-center border p-0" >
                                <thead>
                                  <tr>
                                    <th scope="col">Order.No</th>
                                    <th scope="col">Date </th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" >Actions</th>
                                  </tr>
                                </thead>
                                <tbody >
                                    <tr  *ngFor="let order of getOrders()">
                                        <th scope="row">{{order.id}}</th>
                                        <td>{{order.date_time}}</td>
                                        <td>{{getClientName(order.client)}}</td>
                                        <td>{{getaddress(order.address)}}</td>
                                        <td>{{order.total}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" (click)="showOrderItems(order.id)">
                                                Products
                                            </button>
                                            <button class="btn btn-sm btn-success ml-2" (click)="preparedOrder(order)">
                                                <i class="fas fa-check-circle"></i> 
                                            </button>
                                            <button class="btn btn-sm btn-danger ml-2" (click)="deleteOrder(order.id)">
                                                <i class="far fa-window-close"></i>
                                            </button>
                                            
                                        </td>
                                    </tr>
                                  
                                </tbody>
                                 
                            </table>
                            
                        </div>
                    </div>
                    <div class= "col-sm-4 col-md-4 col-lg-4">
                        <div class="row table-responsive p-3" style="max-height: 400px;" *ngIf="orderSelect">
                            <table class="col table table-sm  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Product.No</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of OrderItems">
                                        <th scope="row">{{item.id}}</th>
                                        <td>{{getItemName(item.id)}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{getItemPrice(item.id, item.quantity)}}</td>
                                       
                                    </tr>
                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>

                <div class="row" *ngIf="!getOrders()?.length">
                    <div class="col d-flex align-items-center justify-content-center" style="height: 200px;" >
                        <h3 class="text-center ">There are no orders</h3>
                    </div>
                </div>

            </div>
            <div class="container-fluid tab-pane fade shadow" id="nav-not-dliver-order" role="tabpanel" aria-labelledby="nav-submited-order-tab">
                <div class="row"  *ngIf="getOrdersNotDeliver().length" >
                    <div class= "col-sm-8 col-md-8 col-lg-8">
                        <div class="row table-responsive p-1" style="max-height: 400px;">
                            <table class="col table table-sm  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Order.No</th>
                                    <th scope="col">Date </th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" >Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let order of getOrdersNotDeliver()">
                                        <th scope="row">{{order.id}}</th>
                                        <td>{{order.date_time}}</td>
                                        <td>{{getClientName(order.client)}}</td>
                                        <td>{{order.total}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" (click)="showOrderItems(order.id)">
                                                Products
                                            </button>
                                            <button class="btn btn-sm btn-success ml-2" (click)="deliveredOrder(order)">
                                                Delivered <i class="fas fa-truck"></i> 
                                            </button>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class= "col-sm-4 col-md-4 col-lg-4">
                        <div class="row table-responsive p-3" style="max-height: 400px;" *ngIf="orderSelect">
                            <table class="col table table-sm  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Item.No</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of OrderItems">
                                        <th scope="row">{{item.id}}</th>
                                        <td>{{getItemName(item.id)}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{getItemPrice(item.id, item.quantity)}}</td>
                                       
                                    </tr>
                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!getOrdersNotDeliver().length">
                    <div class="col d-flex align-items-center justify-content-center" style="height: 200px;" >
                        <h3 class="text-center ">There are no orders to deliver</h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid tab-pane fade shadow" id="nav-old-order" role="tabpanel" aria-labelledby="nav-old-order-tab">
                <div class="row" *ngIf="getOrdersDelivered().length">
                    <div class= "col-sm-8 col-md-8 col-lg-8">
                        <div class="row table-responsive p-1" style="max-height: 400px;">
                            <table class="col table table-sm  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Order.No</th>
                                    <th scope="col">Date </th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Total</th>
                                    <th scope="col" >Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let order of getOrdersDelivered()">
                                        <th scope="row">{{order.id}}</th>
                                        <td>{{order.date_time}}</td>
                                        <td>{{getClientName(order.client)}}</td>
                                        <td>{{order.total}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary" (click)="showOrderItems(order.id)">
                                                Show Products
                                            </button>
                                            <button class="btn btn-sm btn-success ml-2" (click)="resetOrder(order)">
                                                Reset 
                                            </button>
                                            
                                            
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class= "col-sm-4 col-md-4 col-lg-4">
                        <div class="row table-responsive p-3" style="max-height: 400px;" *ngIf="orderSelect">
                            <table class="col table table-sm  table-hover text-center border p-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Item.No</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of OrderItems">
                                        <th scope="row">{{item.id}}</th>
                                        <td>{{getItemName(item.id)}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{getItemPrice(item.id, item.quantity)}}</td>
                                       
                                    </tr>
                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!getOrdersDelivered().length">
                    <div class="col d-flex align-items-center justify-content-center" style="height: 200px;" >
                        <h3 class="text-center ">There are no orders</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>